 .navbar{
        background-color:#0f4c75; 
    color: white;
    margin-bottom: 35px;

    }
    .navbar-brand{font-size: 25px; 
        font-family: 'ZCOOL QingKe HuangYou', cursive;
    }

    .container-fluid{
        background-color:#0f4c75;
        color:white;
        margin-top: 50px;
    
    }

    .icon2{
        height:250px;
        padding:20px;
    }

    .icon2txt{
        padding-top:40px;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        font-size: 50px;
    }

    .blanknav{
        background-color: #3282b8;
        margin-top: -38px;
    }

    #navtext{
        margin-left: 40%;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif;
    }

    a{
        color:white;
        font-family: 'Roboto Mono', monospace;
    }

    .newsletter{
        margin-top: 45px ;
        margin-bottom: 50px;
    }

    p{
        font-family: 'Poppins', sans-serif;
    }

    h5{
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
    }

    .user{
        height:30px;
        padding-right: 5px;
    }

    #searchBtn{
        height:30px;
    }

    h4{font-family: 'ZCOOL QingKe HuangYou', cursive;
        margin-bottom: 25px;
        font-size: 75px;

    }

    h3{
        font-family: 'Roboto Mono', monospace;
        font-weight: lighter;
        font-size: 20px;
    }
    .container {
        position: relative;
      }
      
      . S {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 18px;
      }
      
      .formimg { 
        width: 100%;
        height: auto;
        opacity: 0.6;
      }